*       text=auto crlf=input eol=lf
*.sh    text crlf=input eol=lf
*.js    text crlf=input eol=lf
*.jsx   text crlf=input eol=lf
*.ts    text crlf=input eol=lf
*.tsx   text crlf=input eol=lf
*.json  text crlf=input eol=lf
*.md    text crlf=input eol=lf
*.svg   text crlf=input eol=lf
*.css   text crlf=input eol=lf
*.scss  text crlf=input eol=lf
*.sass  text crlf=input eol=lf
